In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd

In [2]:
crime_2014 = os.path.join("../Resources/Clean/crime_2014_clean.csv")
crime_2016 = os.path.join("../Resources/Clean/crime_2016_clean.csv")

crime_2014_df = pd.read_csv(crime_2014)
crime_2016_df = pd.read_csv(crime_2016)

In [3]:
crime_2014_df = crime_2014_df.drop(columns="Unnamed: 0")
crime_2016_df = crime_2016_df.drop(columns="Unnamed: 0")

In [4]:
crime_2014_df.head()

  Zip Code         GO Highest Offense Desc UCR Description
0   78,753  AGG ROBBERY/DEADLY WEAPON              Robbery
1   78,723  ROBBERY BY ASSAULT                     Robbery
2   78,702  ROBBERY BY THREAT                      Robbery
3   78,723  AGG ROBBERY/DEADLY WEAPON              Robbery
4   78,702  AGG ROBBERY/DEADLY WEAPON              Robbery

In [40]:
# Order By Zip Code & make the Zip Code Column a str and remove the comma

zip_crime_2014 = crime_2014_df.groupby(["Zip Code","UCR Description"])["GO Highest Offense Desc"].count().reset_index()
zip_crime_2014["Zip Code"] = zip_crime_2014["Zip Code"].astype(str)
zip_crime_2014["Zip Code"] = zip_crime_2014["Zip Code"].str.replace(",","")
zip_crime_2014= zip_crime_2014.rename(columns={"GO Highest Offense Desc":"Count of Offenses"})
zip_crime_2014.head()

  Zip Code UCR Description  Count of Offenses
0    78610           Theft                  2
1    78613     Agg Assault                  2
2    78613        Burglary                  3
3    78613         Robbery                  2
4    78613           Theft                397

In [41]:
# Order By Zip Code & make the Zip Code Column a str 
zip_crime_2016 = crime_2016_df.groupby(["Zip Code","UCR Description"])["GO Highest Offense Desc"].count().reset_index()
zip_crime_2016["Zip Code"] = zip_crime_2016["Zip Code"].astype(int).astype(str)
zip_crime_2016= zip_crime_2016.rename(columns={"GO Highest Offense Desc":"Count of Offenses"})
zip_crime_2016.head()

  Zip Code UCR Description  Count of Offenses
0    78613      Auto Theft                 12
1    78613        Burglary                  8
2    78613          Murder                  1
3    78613            Rape                  3
4    78613         Robbery                  2

In [80]:
sum14 = pd.DataFrame(zip_crime_2014.groupby("Zip Code")["Count of Offenses"].sum().sort_values(ascending=False).reset_index())

sum16 = pd.DataFrame(zip_crime_2016.groupby("Zip Code")["Count of Offenses"].sum().sort_values(ascending=False).reset_index())

# Create DF and Change between the two years
summed = sum14.merge(sum16, on="Zip Code", suffixes= ("_14","_16"))
summed["Delta"] = summed["Count of Offenses_16"].subtract(other=summed["Count of Offenses_14"])

# Add Percentage Change Column
summed["Percentage"] = summed["Delta"].divide(other=summed["Count of Offenses_14"]).apply(lambda x: round(x,2))
summed.sort_values(by="Percentage")

   Zip Code  Count of Offenses_14  Count of Offenses_16  Delta  Percentage
43    78732                     3                     1     -2       -0.67
45    78737                     2                     1     -1       -0.50
41    78712                    12                     7     -5       -0.42
5     78702                  2196                  1582   -614       -0.28
27    78722                   347                   261    -86       -0.25
9     78759                  1557                  1198   -359       -0.23
0     78753                  3935                  3134   -801       -0.20
18    78721                   639                   515   -124       -0.19
24    78750                   409                   340    -69       -0.17
25    78613                   404                   341    -63       -0.16
4     78745                  2577                  2245   -332       -0.13
42    78728                     8                     7     -1       -0.12
2     78758                  2826                  2499   -327       -0.12
10    78748                  1550                  1372   -178       -0.11
38    78730                    51                    46     -5       -0.10
23    78754                   457                   413    -44       -0.10
6     78744                  2195                  1990   -205       -0.09
26    78756                   355                   326    -29       -0.08
31    78747                   249                   229    -20       -0.08
3     78704                  2715                  2557   -158       -0.06
36    78725                    76                    72     -4       -0.05
15    78749                   818                   790    -28       -0.03
21    78731                   527                   512    -15       -0.03
7     78723                  2083                  2041    -42       -0.02
11    78752                  1321                  1289    -32       -0.02
13    78757                  1098                  1074    -24       -0.02
1     78741                  3394                  3355    -39       -0.01
14    78751                   926                   914    -12       -0.01
17    78703                   660                   660      0        0.00
12    78705                  1138                  1134     -4       -0.00
20    78727                   532                   538      6        0.01
19    78724                   537                   540      3        0.01
8     78701                  2036                  2076     40        0.02
29    78617                   274                   285     11        0.04
16    78746                   790                   826     36        0.05
28    78735                   280                   300     20        0.07
32    78726                   204                   221     17        0.08
34    78739                   133                   151     18        0.14
30    78717                   257                   305     48        0.19
22    78729                   469                   564     95        0.20
33    78660                   146                   179     33        0.23
39    78742                    46                    58     12        0.26
35    78719                   127                   165     38        0.30
37    78736                    57                   115     58        1.02
40    78653                    21                    48     27        1.29
44    78652                     3                    16     13        4.33

In [81]:
summed.to_csv("../Outputs/summed.csv")